/* Main CSS Start */
*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 15px;
	font-weight: 700;
}
a:focus, input:focus, teaxarea:focus, button:focus{outline: 0 solid;}
a:hover{
	text-decoration: none;
}
.section-padding{padding: 80px 0;}
/* Main CSS Stop */
/* === Timeline Section CSS Start === */
.timeline-area{
	background-image: url(../img/Ramadan_01.jpg);
	background-size:cover ;
	background-position: center;
	background-color: #ddd;
	position: relative;
	z-index: 1;
}
.timeline-area::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: -1;
}
.timeline-area {
  padding: 100px 0;
}
.section-title {
  text-align: center;
  color: #fff;
  margin-bottom: 80px;
}
.timeline-frame {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 1px solid #385b6e;
  padding: 2px;
}
.single-timeline-item {
  position: relative;
  width: 150px;
  margin: 0 auto 80px;
}
.single-timeline-item::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 85px;
	height: 100%;
	width: 4px;
	background-color: #345e72;
	z-index: -1;
	margin-left: -1px;
}
.single-timeline-item:nth-child(4)::after {
	width: 0;
}
.timeline-text {
	position: absolute;
	background-color: #072938;
	color: #fff;
	width: 400px;
	left: -430px;
	top: 50%;
	height: 200px;
	padding: 30px;
	margin-top: -100px;
	border-radius: 40px;
}
.single-timeline-item:nth-child(2n+2) .timeline-text {
  left: auto;
  right: -430px;
}
/* === Timeline Section CSS Stop === */